*.iml
.DS_Store
/docs
/log
/bin
/out
.idea/*
.idea/workspace.xml
*.iml
*.spvchain
*.wallet
*.ser
*.log
*.sw[op]
.DS_Store
.gradle
build
.classpath
.project
.settings
*.java.hsp
*.~ava
/bundles
/bisq*
/xchange
desktop.ini
*/target/*
*.class
deploy
releases/*
